@tailwind base;
@tailwind components;
@tailwind utilities; 


@font-face {
  font-family: 'Sohne Header';
  src: url('/public/fonts/test-soehne-kraftig.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sohne Halbfett';
  src: url('/public/fonts/test-soehne-halbfett.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sohne Mono';
  src: url('/public/fonts/test-soehne-mono-buch.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sohne';
  src: url('/public/fonts/test-soehne-buch.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: 'Sohne', sans-serif;
    background-color: #101010;
  }
  /* src/styles/global.css */

.sohne-mono-ft {
  font-family: 'Sohne Mono' ,'sans-serif';
}
.text-weight-semibold {
  font-family: 'Sohne Halbfett','sans-serif';
  font-weight: 600;
}
.text-weight-normal {
  font-family: 'Sohne Mono','sans-serif';
  font-weight: 400;
}
  
.sevices-card-2 {
  @apply flex flex-col justify-around items-center text-white border border-[#282828] rounded-lg no-underline;
  background-image:
    url('https://cdn.prod.website-files.com/662b316c8b82b058df121f76/662f755cd563e64f82279e09_gradient22.webp'),
    url('https://cdn.prod.website-files.com/662b316c8b82b058df121f76/662f750a1fe2fceb23947f0e_Service-Cards1.webp');
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  padding-top: 0;
  padding-bottom: 0;
}
@screen xl {
  .sevices-card-2 {
    max-height: 580px;
    padding-bottom: 2rem;
  }
}

.sevices-card-1 {
  @apply flex flex-col justify-start items-center text-white border border-[#282828] rounded-lg no-underline;
  background-image:
    url('https://cdn.prod.website-files.com/662b316c8b82b058df121f76/662f74208a1214a0cb7f81ad_Contours1.webp');
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  padding-top: 0;
  padding-bottom: 0;
}
@screen xl {
  .sevices-card-1 {
    max-height: 580px;
    padding-bottom: 2rem;
  }
}
.page-badge {
  border-radius: 2px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  padding: 2px 6px;
  font-family: 'Sohne Mono', sans-serif;
  font-size: .85rem;
  display: inline-block;
}

.page-badge-purple {
  background-color: #6749ff;
}
.services-vector {
  background-image: none;
  background-repeat: repeat;
  background-size: auto;
  flex-flow: column;
  justify-content: flex-start;
  align-self: stretch;
  align-items: center;
  display: flex;
  position: relative;
}
.image-3 {
  padding-top: 80px;
  padding-bottom: 50px;
}

element {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;

}
.footer {
  opacity: .3;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 7rem;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  position: relative;
}

.container-xlarge {
  width: 100%;
  max-width: 82rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1440px) {
  .text-align-left {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .text-align-left {
    text-align: left;
  }
}
.text-align-left {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media screen and (min-width: 1440px) {
  .text-color-grey {
    text-transform: uppercase;
  }
}
.text-color-grey {
  color: #bdbdbd;
  position: static;
}
}
