<nav
  class="absolute top-8 left-1/2 -translate-x-1/2 backdrop-blur-md rounded-md px-5 py-3 w-full max-w-5xl
  flex justify-center items-center lg:flex"
>
  <a
    href="/"
    class="text-white hover:text-gray-300 transition-colors"
    aria-label="Home"
  >
    BoltSec
  </a>
</nav>
<div class="mb-24">
  <slot />
</div>
